<!--To Do List Tab where the main app will be-->

<ion-view view-title="To Do List">
  <ion-content class="padding">
      
    <!--label input learned from "http://ionicframework.com/html5-input-types/#text"-->
      
    <!--Task 1-->
    <!--User inputs task for the to do list-->
    <label style="float:left" class="item item-input">
      <span class="input-label">1</span>
      <input type="text">
    </label>
    <!--checkbox for user to mark when the task has been completed-->
    <input style="float:center; width:50px; height:50px" type="checkbox" name="Task 1" value="complete">
    <br><br><br>
      
     <!--Task 2-->
    <label style="float:left" class="item item-input">
      <span class="input-label">2</span>
      <input type="text">
    </label>
    <input style="float:center; width:50px; height:50px" type="checkbox" name="Task 2" value="complete">
    <br><br><br>
      
     <!--Task 3-->
    <label style="float:left" class="item item-input">
      <span class="input-label">3</span>
      <input type="text">
    </label>
    <input style="float:center; width:50px; height:50px" type="checkbox" name="Task 3" value="complete">
    <br><br><br>
      
    <!--Task 4-->
    <label style="float:left" class="item item-input">
      <span class="input-label">4</span>
      <input type="text">
    </label>
    <input style="float:center; width:50px; height:50px" type="checkbox" name="Task 4" value="complete">
    <br><br><br>
      
    <!--Task 5-->
    <label style="float:left" class="item item-input">
      <span class="input-label">5</span>
      <input type="text">
    </label>
    <input style="float:center; width:50px; height:50px" type="checkbox" name="Task 5" value="complete">
    <br><br><br>
      
    <!--Task 6-->
    <label style="float:left" class="item item-input">
      <span class="input-label">6</span>
      <input type="text">
    </label>
    <input style="float:center; width:50px; height:50px" type="checkbox" name="Task 6" value="complete">
    <br><br><br>
      
    <!--Task 7-->
    <label style="float:left" class="item item-input">
      <span class="input-label">7</span>
      <input type="text">
    </label>
    <input style="float:center; width:50px; height:50px" type="checkbox" name="Task 7" value="complete">
    <br><br><br>
      
    <!--Task 8-->
    <label style="float:left" class="item item-input">
      <span class="input-label">8</span>
      <input type="text">
    </label>
    <input style="float:center; width:50px; height:50px" type="checkbox" name="Task 8" value="complete">
      
    <!--Tutorial for user will be implemnted in the Information tab-->
    <!--I can update app manually to allow for more tasks at a later date-->
    
      
  </ion-content>
</ion-view>
