<!--Information tab where I will display helpful info and tips to the user-->

<ion-view view-title="Information">
  <ion-content>
      <!--user tutorial-->
      <h3>How to use the app:</h3>
      <p>1. Enter your desired task into the provided space next to the numbers (starting with 1).</p>
      <p>2. When your task has been completed, simply tap the grey box next to the task. This will mark it as complete.</p>
      <hr>
      <!--further information about the app-->
      <h3>App Info</h3>
      <p>The app can currently only hold 8 tasks, if user demand is high enough, I will update the app to allow for more tasks.</p>
  </ion-content>
</ion-view>
