
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- To Do List Tab -->
  <!--Using custom icons found at "http://ionicons.com/"-->
  <ion-tab title="To Do" icon-off="ion-android-checkbox-outline-blank" icon-on="ion-android-checkbox-outline" href="#/tab/todo">
    <ion-nav-view name="tab-todo"></ion-nav-view>
  </ion-tab>


  <!-- Information Tab -->
  <ion-tab title="Information" icon-off="ion-ios-information-outline" icon-on="ion-ios-information" href="#/tab/info">
    <ion-nav-view name="tab-info"></ion-nav-view>
  </ion-tab>


</ion-tabs>
